#main {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   max-width: 1200px; /* Constrain width on large screens */
}

body {
   background: linear-gradient(135deg, #B3E5FC, #E0E0E0);
}

#title {
   text-align: center;
   font-size: 2.5rem;
   padding-top: 50px;
}

#subtitle {
   text-align: center;
}

#img-div {
   text-align: center;
   padding: 10px;
}

#image {
   max-width: 75%;
   height: auto;
   display: block;
   margin: auto; /* Centers the block-level image horizontally */
}

#img-caption {
   text-align: left;
   margin: 0 25px;
   font-family: "Open Sans";
   font-size: 10px;
}

h3 {
   text-align: center;
   margin: 2.5rem auto auto auto;
}

ul {
   margin: 2rem 8rem 2rem 6rem;
}

/* Target only paragraphs within the main content area */
#tribute-info p {
   margin: 2rem 8rem; /* Sets top/bottom and left/right margins */
   font-size: 1.1rem;
}

ul li {
   margin-bottom: 0.8rem; /* Adds space between list items */
   line-height: 1.6; /* Increases space between lines within each list item */
}

.quote {
   font-style: italic;
   font-size: 1rem;
}

#tribute-info h3:last-of-type {
   padding-bottom: 3rem;
}

footer {
   text-align: center;
   padding: 2rem 0;
   color: #4A4A4A; /* Sets a base color for footer text */
}

.author {
   font-weight: bold;
   background-image: linear-gradient(45deg, #007BFF, #8E44AD);
   -webkit-background-clip: text; /* For Safari/Chrome */
   background-clip: text;
   color: transparent;
}

@media (max-width: 600px) {
   #subtitle {
      margin: 0.5rem 1rem 1.5rem 1rem;
   }
   #tribute-info p, #tribute-info ul {
      margin-left: 1rem;
      margin-right: 1rem;
   }
   #image {
      max-width: 95%; /* Allow image to be wider on mobile */
   }
}
